@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  font-family: "Space Mono", monospace;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
}
body input.main-input {
  font-size: 1.5rem;
  text-align: end;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.1rem 1rem;
  outline-color: #26c0ab;
  background-color: #f4fafa;
  color: #00494d;
  cursor: pointer;
}
body h3.input-title {
  font-size: 0.9rem;
  color: #7f9c9f;
}
body main.tipCalculator {
  background-color: white;
  padding: 2rem;
  width: 52rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  body main.tipCalculator {
    width: 100vw;
    flex-direction: column;
  }
}
body main.tipCalculator div#inputs {
  width: 50%;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  body main.tipCalculator div#inputs {
    width: 100%;
    margin: 0;
  }
}
body main.tipCalculator div#inputs div.bill div.input-number {
  position: relative;
  margin: 1rem 0;
}
body main.tipCalculator div#inputs div.bill div.input-number img {
  position: absolute;
  left: 1rem;
  top: 0.6rem;
}
body main.tipCalculator div#inputs div.selectTip {
  margin: 1.5rem 0;
  width: 100%;
}
body main.tipCalculator div#inputs div.selectTip div.btnGroup {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
}
body main.tipCalculator div#inputs div.selectTip div.btnGroup button {
  width: 7.2rem;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0rem;
  margin: 0.2rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #f4fafa;
  background-color: #00494d;
  transition: 0.3s;
}
body main.tipCalculator div#inputs div.selectTip div.btnGroup button:hover {
  background-color: #c5e4e7;
  color: #00494d;
}
body main.tipCalculator div#inputs div.selectTip input.customTip {
  font-size: 1.5rem;
  text-align: end;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.1rem 1rem;
  outline-color: #26c0ab;
  background-color: #f4fafa;
  color: #00494d;
  cursor: pointer;
  text-align: left;
  width: 7.2rem;
  margin: 0.2rem 0;
}
body main.tipCalculator div#inputs div.numberPeople div.input-number {
  position: relative;
  margin: 1rem 0;
}
body main.tipCalculator div#inputs div.numberPeople div.input-number img {
  position: absolute;
  left: 1rem;
  top: 0.6rem;
}
body main.tipCalculator div#result {
  width: 50%;
  margin-left: 1rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: #00494d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  body main.tipCalculator div#result {
    width: 100%;
    margin: 0;
  }
}
body main.tipCalculator div#result div {
  margin-bottom: 2rem;
  position: relative;
}
body main.tipCalculator div#result div p.result_text {
  font-size: 0.9rem;
  color: #f4fafa;
  display: flex;
  justify-content: space-between;
}
body main.tipCalculator div#result div p.result_text::after {
  content: "/ pessoa";
  position: absolute;
  bottom: 0rem;
  color: #5e7a7d;
}
body main.tipCalculator div#result div p.result_text span.result_value {
  font-weight: 700;
  font-size: 2.3rem;
  color: #26c0ab;
}
body main.tipCalculator div#result button {
  cursor: pointer;
  background-color: #26c0ab;
  color: #00494d;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.3rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.3s;
}
body main.tipCalculator div#result button:hover {
  background-color: #c5e4e7;
}
body .attribution {
  position: absolute;
  bottom: 1rem;
}
@media screen and (max-width: 768px) {
  body .attribution {
    font-size: 0.6rem;
  }
}